@import 'colors';
@import 'mixin';
@import 'config';

.category {
  @include mobile-large {
    flex-direction: column;
    padding-right: 10px;
    flex-flow: wrap;
  }
  @include flex-center(row);
  margin: 0 auto;
  padding-top: 60px;
  .images {
    border: 3px solid $white;
    max-width: clamp(200px, 100%, 100%);
    width: $image-width;
    height: $image-height;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.75);
    &:hover {
      transform: scaleX(0.98) scaleY(0.98);
      transition: all 0.1s ease-out;
      box-shadow: 5px 5px 5px 1.5px rgb(43, 43, 43);
    }
  }
  li {
    list-style-type: none;
    margin: 10px;
  }
  h1 {
    color: $primary-color;
    font-family: 'Orelega One', sans-serif;
    font-size: 28px;
    text-align: center;
  }
}

.sub-category {
  @extend .category;
  .sub-category-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: $medium-padding;
    padding-right: $medium-padding;
    img {
      @extend .images;
      width: $image-width / 1.5;
      height: $image-height / 1.5;
    }
    h2 {
      color: $primary-color;
      font-size: 12px;
      line-height: 1.4;
      text-align: center;
      font-family: Helvetica, sans-serif;
      width: $image-width / 1.5;
    }
    h3 {
      color: $primary-color;
    }
  }
}
