@import 'colors';
@import 'config';
.footer {
  @include flex-center(column);
  background-color: $navbar-color;
  position: relative;
  top: 75%;
  width: clamp(500px, 100%, 100%);
  height: $min-height;
  padding: 10px;
  footer {
    display: flex;
    justify-content: center;
  }
  ul {
    margin: 0;
  }
  li {
    list-style-type: none;
    color: #fff;
    &:hover {
      opacity: 0.7;
    }
  }
  a {
    text-decoration: none;
  }
  small {
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    margin-left: 2.5em;
  }
}
