@mixin reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin flex-center($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin mobile {
  @media (max-width: $mobile-break) {
    @content;
  }
}
@mixin mobile-large {
  @media (max-width: $mobile-break + 812px) {
    @content;
  }
}
@mixin mini-mobile {
  @media (max-width: 375px) {
    grid-gap: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }
}
