@import 'colors';
@import 'functions';
@import 'config';
@import 'mixin';

nav {
  @include flex-center(row);
  background-color: $navbar-color;
  height: $min-height;
  overflow: hidden;
  ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    width: 70vw;
    justify-content: end;
    list-style-type: none;
    a {
      padding: 0.5em 1em;
      color: $white;
      text-decoration: none;
      font-family: Helvetica, sans-serif;
      &:hover {
        padding: 0.5em 1em;
        background-color: #6d76f7;
        border-radius: 4px;
        transition: all 0.2s ease-out;
      }
    }
  }
  .nav-links {
    font-size: 1.2em;
  }
}
