@import 'colors';
@import 'functions';
@import 'config';
@import 'mixin';

nav {
  @include flex-center(row);
  background-color: $navbar-color;
  height: $min-height;
  overflow: hidden;
  width: clamp(375px, 100%, 100%);
  ul {
    @include mini-mobile;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    width: 70vw;
    justify-content: end;
    list-style-type: none;
    a {
      padding: 0.5em 1em;
      color: $white;
      text-decoration: none;
      font-family: Helvetica, sans-serif;
      &:hover {
        color: black;
        padding: 0.5em 1em;
        background-color: $white;
        border-radius: 4px;
        transition: all 0.2s ease-out;
      }
    }
  }
  .nav-links {
    font-size: 1.2em;
  }
}

@media (max-width: $mobile-break - 188px) {
  .logo {
    display: none;
  }
}
