@import 'navbar';
@import 'config';
@import 'mixin';
@import 'category';

body {
  @include reset;
  background-color: $secondary-color;
}
::selection {
  background-color: $navbar-color;
  color: $secondary-color;
}