@import 'navbar';
@import 'config';
@import 'mixin';
@import 'category';
@import 'footer';
@import 'laptops';

body {
  @include reset;
  background-color: $secondary-color;
}
.container {
  height: 100vh;
}
::selection {
  background-color: $navbar-color;
  color: $secondary-color;
}
